---
layout: default
title: Homepage
navbar_name: Home
---
{% include widgets/profile_card.html %}

{% include widgets/timeline_card.html title="Education" icon="fas fa-school" items=site.data.profile.education item_icon="fas fa-university" %}

{% include widgets/timeline_card.html title="Experience" icon="fas fa-laptop-code" items=site.data.profile.experience item_icon="fas fa-building" %}

{% include widgets/list_card.html title="News" icon="fas fa-rss" id="news" items=site.data.news %}

{% assign selected_pubs = site.data.publications | where: "selected", true %}
{% include widgets/item_card.html items=selected_pubs title='<i class="fas fa-star mr-2"></i>Selected Publications' more_url="/publications/" more_label="All publications" %}

{% assign selected_apps = site.data.apps | where: "selected", true %}
{% include widgets/item_card.html items=selected_apps title='<i class="fas fa-laptop-code mr-2"></i>Applications' more_url="/applications/" more_label="All applications" %}

{% include widgets/timeline_card.html title="Recent Projects" icon="fas fa-project-diagram" items=site.data.projects item_icon="fas fa-water" %}

{% include widgets/list_card.html title="Honors &amp; Achievements" icon="fas fa-trophy" id="awards" items=site.data.profile.awards %}

{% include widgets/list_card.html title="Service &amp; Memberships" icon="fas fa-handshake" id="service" items=site.data.profile.service %}

{% include widgets/visitor_map.html %}
